.appContainer {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.mainContent {
  flex: 1;
  background-color: #ffffff;
}

/* 화면 전체를 덮는 반투명 레이어 */
.sidebar-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5); /* 반투명 검은색 */
  z-index: 999; /* 사이드바보다 낮거나 높게 설정(아래 참고) */
}
